body{
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 100px;
    font-family: 'PT Serif', serif;
    margin-bottom: 20px;
}

.card{
    background-color: beige;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 250px;
    margin-left: 50px;
   float: left;
}
.card .img{
    max-width: 250px;
}
.card2{
    background-color: beige;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 250px;
    margin-left: 100px;
   float: left;
}
.card2 .img{
    width: 250px;
    max-height: 173px;
}
 .h2{
    padding: 5px 10px;
}