.container{
    max-width: 960px;
    margin: 30px auto;
    padding: 55px;
    position: absolute;
    top: 0;
    left: 35px;
    right: 35px;
}
.box{
    border: 1px solid black;
    background-color: rgba(255,230 ,230,0.5 );
    margin-bottom: 30px;
    padding-left: 10px;
}
#box2, #box3{
    display: inline-block;
    position: relative;
    width: 60%;
}
#box3{
    float: right;
    width: 30%;
}
#box4{
    margin-top: 10px;
}