*{
    margin: 0;
    padding: 0;
}


#div1{
    border: 2px solid black;
    width: 250px;
    height: 150px;
    position: absolute;
}

#div2{
    border: 2px solid black;
    width: 150px;
    height: 120px;
    position: absolute;
    top:126px;
    left:150px;
}
#div3{
    border: 2px solid black;
    width: 60px;
    height: 350px;
    position: absolute;
    top:50px;
    left:380px
}
 #div4{
    border: 2px solid black;
    width: 400px;
    height: 100px;
    position: absolute;
    top:250px;
    left:50px;
 }