.hl{
    border: 1px solid red;
    border-radius: 5px;
}
.hw{
    font-style: italic;
    font-weight: bold;
}
.lh{
    background-color: #000;
    color:#fff;
    box-shadow:10px 5px 5px red;;
}